<h1>The Questions</h1>

<table class="table question_table">
	<tr>
		<th>Question</th>
		<th class="winner">Would</th>
		<th class="loser">Wouldn't</th>
	</tr>
	
	<% @questions.each do |q| %>
	<tr>
		<td> <%= link_to q.text, question_path(q.id) %></td>
		<td class="winner small"> 
			<% q.winners.each do |winner| %>
				<%= portrait_link winner %>
		<% end %>
		</td>
		<td class="loser small"> <%  q.losers.each do |loser| %>
			<%= portrait_link loser %>
		<% end %>
		</td>
	</tr>
	<% end %>
	
