<h1>The Questions</h1>

<table class="table question_table">
	<tr>
		<th>Question</th>
		<th class="winner">Would</th>
		<th class="loser">Wouldn't</th>
	</tr>
	
	<% @questions.each do |q| %>
	<tr>
		<td> <%= link_to q.text, question_path(q.id) %></td>
		<td class="winner"> <% q.winners.each do |winner| %>
				<%= link_to (image_tag(winner.image_path)), team_member_path(winner.id) %>
		<% end %>
		</td>
		<td class="loser"> <%  q.losers.each do |loser| %>
			<%= link_to (image_tag(loser.image_path)), team_member_path(loser.id) %>
		<% end %>
		</td>
	</tr>
	<% end %>
	
