<h1>Recent Contests</h1>
<table class="table recent_table">
	<tr>
		<th>Question</th>
		<th class="winner">Winner</th>
		<th class="loser">Loser</th>
	</tr>
	
	<% @contests.each do |contest| %>
	<tr>
		<td> <%= contest.question.text %></td>
		<td class="winner"> <%= link_to (image_tag(contest.winner.image_path)), team_member_path(contest.winner.id) %></td>
		
		<td class="loser"> <%= link_to (image_tag(contest.loser.image_path)), team_member_path(contest.loser.id) %></td>
	</tr>
	<% end %>
	
</table>