<h1>A Contest</h1>

<table>
	<tr>
		<th>Contestant A</th>
		<th>Contestant B</th>
	</tr>
	<tr>
		<td><%= @contestant_a.name %></td>
		<td><%= @contestant_b.name %></td>
	</tr>

</table>

<h2>Question</h2>
<p><%= @question.text %></p>