<h1>The Team</h1>
<p>You've reached the TeamMember index. Well done, you.</p> 

<table class="table">
	<tr>
		<th></th>
		<th>Team Member</th>
		<th>Email</th>
	</tr>
	<% @team.each do |member| %>
	<tr>
		<td><%= link_to image_tag(member.image_path), team_member_path(member.id) %></td>
		<td><%= link_to member.name, team_member_path(member.id) %></td>
		<td><%= mail_to member.email %></td>
	</tr>
	<% end %>
</table>