<h1>Register or sign in.</h1>

<form class="form">
	<label for="email">Email address:</label>
	<input class="my-input" type="text" name="email" id="email" placeholder="you"><span class="quipper">@quipper.com</span>
	<label for="password">Password:</label>
	<input class="my-input" type="password" name="password" id="password">
	<br/>
	<input type="submit" class="btn" value="Sign in!">
</form>