<% if alert %>
	<p class="alert alert-danger alert-dismissable my-alert"><%= flash[:alert] %></p>
<% end %>
<% if notice %>
	<p class="alert alert-dismissable my-alert"><%= flash[:notice] %></p>
<% end %>