<div class="team-masthead">
	<%= link_to(image_tag( @team_member.image_path, :id => "profile_portrait"  ), team_member_path( @team_member.id ) ) %>
	<h1 id="profile_heading">
		<%= @team_member.name %>, 
		</br>
		<span class="blue">
			<%= @heading %>
		</span>
	</h1>
</div>