/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/* NAVBAR */
#my_nav { 
	min-height: 40px; 
	background-color: rgb(20, 190, 240);
	}
#my_nav.navbar.navbar-default.navbar-static-top a{
	color: white;
	text-shadow: 1px 1px 1px rgb(20, 150, 200);
}

#my_nav  .nav.nav-bar li.active a {
	background-color: transparent;
	box-shadow: inset 0 2px 15px rgba(20, 150, 200, 0.8);
}
	
.nav img { width: 40px; opacity: 0.9; }
.nav img:hover { width: 40px; opacity: 1; }
.nav.navbar-right li a.portrait { padding: 0; }

/* HEADINGS */
h1.blue { color: rgba(20,180,230, 1);}
/* #my_container{ height: 45px; box-shadow: 0 3px 6px -6px rgb(100, 100, 100); }
#my_container li a {height: 30px; margin-top: 0; line-height: 30px;} */
@font-face {
  font-family: 'Chunkfive';    
  src: url('Chunkfive.otf');
  font-weight: normal;
  font-style: normal;}
/* TABLES */
table th.winner { background-color: rgba(20, 180, 240, 0.4); }
table .winner {  background-color: rgba(20, 180, 240, 0.2); }
table th.loser {background-color: rgba(255, 120, 170, 0.4); }
table .loser { background-color: rgba(255, 120, 170, 0.2); }
table th.neutral { background-color: rgba(230, 230, 230, 0.4); }
table .neutral { background-color: rgba(230, 230, 230, 0.2); }

.question_table img { width: 60px; border-radius: 30px; }

#recent_table td { vertical-align: middle;}
#recent_table .winner, #recent_table .loser { text-align: center; }
#recent_table img { width: 100px; border-radius: 50px; }

.container h1 { font-family: 'Chunkfive', arial, san-serif; }
.btn.sign-in { font-family: 'Chunkfive', arial, san-serif; font-size: 18px; color: white; background-color: rgb(20, 190, 240); text-shadow: 1px 1px 1px rgb(10, 160, 200);}
.btn.sign-in:hover { background-color: rgb(10, 140, 200); color: rgb(240,240,240); }

#contest_table  th, #contest_table td {text-align: center;}
#contest_table img { width: 150px; border-radius: 100px; border: 20px solid white; box-shadow: 1px 1px 10px rgb(100, 100, 100); opacity: 1; }

#profile_table td { width: 50%; }


table img {opacity: 0.6; border-radius: 50%;  }
table img:hover { opacity: 1; }

/* INPUTS */
input[type="text"].my-input, input[type="password"].my-input { font-size: 25px; color: rgb(150,150,150); height: 32px; width: 150px; border: none; font-size: 28px; line-height: 25px; border-radius: 0; box-shadow: none; height: 32px; padding: 0; background-color: rgb(245,245,245);}

/*border-bottom: 4px solid rgb(200, 200, 200); */

#sign-in-alerts { min-height: 70px; }
.alert.my-alert { background-color: rgb(30, 200, 255); color: white; font-weight: bold; text-shadow: 1px 1px 1px rgb(10, 150, 220); box-shadow: inset 2px 2px 10px rgb(200, 230, 253), inset -3px -3px 7px rgb(255, 255, 255);}
.alert.alert-danger.my-alert { background-color: rgb(255, 120, 170); box-shadow: none; text-shadow: none; box-shadow: none;}
#sign-in-form { }
#email { 
	text-align: right; 
	width: 200px; 
	font-size: 28px;
	font-weight: 100;
	height: 38px;
	display: inline-block;
	vertical-align: middle;
}

#email::-webkit-input-placeholder {
	line-height: 29px;
}

#password {width: 250px; }
.quipper { font-size: 28px; font-weight: 100; color: rgb(200, 200, 230)}

/* PROFILE */
#profile_portrait { width: 125px; float: left; padding-right: 20px; }
#profile_heading { line-height: 30px; padding-top: 50px; }