/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.nav{ border-bottom: 1px solid black; }

/* TABLES */
table th.winner { background-color: rgba(160, 255, 160, 0.4); }
table .winner {  background-color: rgba(200, 255, 200, 0.2); }
table th.loser {background-color: rgba(255, 160, 160, 0.4); }
table .loser { background-color: rgba(255, 200, 200, 0.2); }

.question_table img { width: 60px; border-radius: 30px; }

.table.recent_table td { vertical-align: middle; }
.recent_table img { width: 100px; border-radius: 50px; }


#contest_table  th, #contest_table td {text-align: center;}
#contest_table img { width: 150px; border-radius: 100px; border: 20px solid white; box-shadow: 1px 1px 3px black; opacity: 1; }

#profile_table td { width: 50%; }


table img {opacity: 0.6; border-radius: 50%;  }
table img:hover { opacity: 1; }

/* INPUTS */
input[type="text"].my-input, input[type="password"].my-input { font-size: 25px; color: rgb(150,150,150); height: 28px; width: 280px; }

#email { text-align: right; width: 120px;  }
.quipper { font-size: 24px; padding-left: 1px; padding-bottom: 2px;}

/* PROFILE */
#profile_portrait { width: 125px; float: left; padding-right: 20px; }
#profile_heading { line-height: 25px; padding-top: 50px; }