/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body#body {
	/* background-color: rgb(20,185,240); */
	background-color: white;
}

/* NAVBAR */
#my_nav { 
	min-height: 40px; 
	background-color: rgba(40,205,255,1);
	border: none;
	}
#my_nav.navbar.navbar-default.navbar-static-top a{
	color: white;
	text-shadow: 1px 1px 1px rgb(20, 150, 200);
}

#my_nav .nav li.active a {
	background-color: rgb(20,185,240);
	box-shadow: none;
}
	
.nav img { width: 40px; opacity: 0.9; }
.nav img:hover { width: 40px; opacity: 1; }
.nav.navbar-right li a.portrait { padding: 0; }

/* HEADINGS */
.blue, h1 span { color: rgba(20,185,240, 1);}
.blue a { color: rgba(20,185,240, 1); }
/* #my_container{ height: 45px; box-shadow: 0 3px 6px -6px rgb(100, 100, 100); }
#my_container li a {height: 30px; margin-top: 0; line-height: 30px;} */

@font-face {
  font-family: 'Chunkfive';    
  src: url('Chunkfive.otf');
  font-weight: normal;
  font-style: normal;
}
  
/* TABLES */
table.table { background-color: rgba(255,255,255,0.15); }
table th.winner { background-color: rgba(20, 180, 240, 0.7); }
table .winner {  background-color: rgba(20, 180, 240, 0.4); }
table th.loser {background-color: rgba(255, 120, 170, 0.7); }
table .loser { background-color: rgba(255, 120, 170, 0.3); }
table .loser a {  color: rgba(225,40,120,0.9); }
table th.neutral { background-color: rgba(255, 255, 255, 0.5); }
table .neutral { background-color: rgba(20, 180, 240, 0.1); }
table .neutral img { opacity: 1; }
table td.text-center { text-align: center; }
table a { color: rgba(10,100,140,1); }

.small img { width: 60px; border-radius: 30px; min-width: 60px; height: 60px; }

#recent-table > tbody > tr > td { vertical-align: middle; }
#recent-table td.winner, #recent-table td.loser { text-align: center; }
#recent-table img { width: 100px; height: 100px; border-radius: 50px; }

.container h1, .container h2 { font-family: 'Chunkfive', arial, san-serif; }
.container h1 {font-size: 42px;}


table img {opacity: 0.6; border-radius: 50%; transition: all 0.5s; -webkit-transition: all 0.5s; }
table img:hover { opacity: 1; }


/*border-bottom: 4px solid rgb(200, 200, 200); */

#sign-in-alerts { min-height: 70px; }
.alert.my-alert { background-color: rgba(20, 180, 240, 0.6); color: rgb(255,255,255); font-weight: bold; text-shadow: none;}
.alert.alert-danger.my-alert { background-color: rgba(255, 120, 170, 1); box-shadow: none; text-shadow: none; border: none; color: white;}

/* MEDIA QUERIES */

@media all and (max-width: 750px) {

	#recent-table img { width: 50px; height: 50px; border-radius: 25px; }


}
