// Place all the styles related to the team_members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#team-member-table td {
}

#team-member-table td:nth-child(2) {
	width: 30%;
}

#profile-table td {
	width: 50%;
}

/* INPUTS */
input[type="text"].my-input, input[type="password"].my-input { 
	font-size: 25px; 
	color: rgb(0,0,0); 
	height: 32px; width: 150px; 
	border: none; font-size: 28px; 
	line-height: 25px; border-radius: 0; 
	box-shadow: none; height: 32px; 
	padding: 0; 
	background-color: rgb(235,235,245);
}


#sign-in-form { 
}

#email { 
	text-align: right; 
	width: 200px; 
	font-size: 28px;
	font-weight: 100;
	height: 38px;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Chunkfive', arial, san-serif;
}

#email::-webkit-input-placeholder {
	line-height: 29px;
}

#password {
	width: 250px;  
}

.quipper { 
	font-size: 28px; 
	font-weight: 100; 
	color: rgba(0, 0, 0, 0.9);
}

/* PROFILE */
#profile_portrait { 
	width: 125px; 
}

#profile_heading { 
	line-height: 34px; 
	position: absolute; 
	left: 130px; 
	bottom: -14px; 
}

.team-masthead { position: relative; }

#contest-table.btn {  background-color: white; }

.btn.sign-in { 
	font-family: 'Chunkfive', arial, san-serif; 
	font-size: 20px; 
	color: black; 
	background-color: rgb(235, 235, 250); 
	width: 50%; 
	box-shadow: none; 
	border: none;
	transition: all 0.5s; 
	-webkit-transition: all 0.5s; 
	
}

.btn.sign-in:hover { 
	background-color: rgb(240, 240, 255); 
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

.btn.sign-in:active { 
	background-color: rgb(10, 140, 200); 
	color: rgb(240,240,240); 
}
